html {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: "Poppins", sans-serif;
  color: #fff;
  line-height: 1;

  background-image: linear-gradient(120deg, #8a314e, #cbad6d);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  min-height: 15em;

  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: 3rem;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40vw;
}

.todo {
  width: 100%;
  &__form {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
    height: 3rem;

    margin-bottom: 3rem;
  }
  &__input {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
  }
  &__btn {
    width: 3rem;
    height: 100%;
    font-size: 1.5rem;
    border: none;
    background: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.1s ease-out;

    & > i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &:hover {
      width: 4rem;
      height: 4rem;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      background: rgb(108, 190, 91);
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 3rem;
    margin-bottom: 0.5rem;
  }

  &__text {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
  }
  &__remove {
    width: 3rem;
    height: 100%;
    font-size: 1.5rem;
    border: none;
    background: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.1s ease-out;

    & > i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &:hover {
      width: 4rem;
      background: rgb(230, 81, 81);
    }
  }
}
